<!doctype html>
<html lang="en" ng-app>
	<head>
		<title>Content management system for creating Json files</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

		
	</head>
	<body ng-controller="AddController">
		<section class="editor col-xs-6">
			<form>
				<span ng-model="article.id"></span>
				<div class="form-group">
					<label for="article-title">Title: </label>
					<input class="form-control" name="article-title" ng-model="article.title" placeholder="Insert title here" />
				</div>
				<div class="form-group">
					<label for="article-text">Contents: </label>
					<input class="form-control"  name="article-text" ng-model="article.text" placeholder="Insert text here" />
				</div>
				<button ng-click="saveArticle()">Save</button>
				<button ng-click="newArticle()">New article</button>
			</form>
			
			<span ng-bind="article.id"></span>
			<h1 ng-bind="article.title"></h1>
			<p ng-bind="article.text"></p>
			
		</section>
		
		<section class="articles col-xs-6">
			<article ng-repeat="art in articles">
				<div class="col-xs-1" ng-bind="art.id"></div>
				<div class="col-xs-11">
					<h1 ng-bind="art.title"></h1>
					<p ng-bind="art.text"></p>
					<button ng-click="editArticle(art.id)">Edit</button>
					<button ng-click="delArticle(art.id)">Delete</button>
				</div>
			</article>
		</section>
		
		<script src="js/angular.min.js"></script>		
		<script>
			function AddController($scope){
				$scope.article = {};
				$scope.articles = [
					{ id : 0, text : "There seems to be a lot of them" , title: "Space Monkeys"},
					{ id : 1, text : "There seems to be none" , title: "Space travellers"},
					{ id : 2, text : "Some things would work the way we want" , title: "If only"}
				];
				
				$scope.saveArticle = function(){
					if ($scope.articles[$scope.article.id]){
						$scope.articles[$scope.article.id].id = $scope.article.id;
						$scope.articles[$scope.article.id].title = $scope.article.title;
						$scope.articles[$scope.article.id].text = $scope.article.text;
					} else {
						$scope.article.id = $scope.articles.length;
						$scope.articles.push($scope.article);
						$scope.article = {};
					}
				};
				
				$scope.delArticle = function(place){
					$scope.articles.splice(place,1);
					while ($scope.articles[place].id){
						$scope.articles[place].id--;
						place++;
					};
				}
				
				$scope.editArticle = function(id){
					$scope.article.id = $scope.articles[id].id;
					$scope.article.title = $scope.articles[id].title;
					$scope.article.text = $scope.articles[id].text;
				}
				
				$scope.newArticle = function(){
					$scope.article = {};
				}
				
				$scope.getCount = function() {
					return $scope.articles.length;
				};
			}
		</script>
		
	</body>
</html>